def load_config():
    config = {
        "openssh_version": 6,                    # should be 5 or 6
        "interface_ip": "172.16.0.100",          # from your ifconfig
        "server_ip": "1.2.3.4",                  # public ip, you can get it via `curl http://ifcfg.me/`
        "server_port": 5000,                     # web server port
        "secret_key": "my_secret_key_goes_here", # flask session secret key
        "password": "my_login_password",         # web login password
        "gateway_user": "john"                   # server side's system account for remote to login
        }
    return config
